<!DOCTYPE html>
<html>
  <head>
	<title>Somos Todos Heróis</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
	<div id="root"></div>
	{% if debug %}
	<script src="http://localhost:8090/webpack-dev-server.js">
	</script>
	<script type="text/javascript" src="http://localhost:8090/assets/bundle.js">
	</script>	
	{% else %}
	<script type="text/javascript" src="/static/js/bundle.js"></script>
	{% endif %}
  </body>
</html>
